/* General container */
.product-detail-container {
  padding: 20px;
  background-color: #118a8428;
}

.product-detail {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px auto;
  max-width: 1200px;
}

.producticons {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  margin-bottom: 20px;
 
}

.producticons:hover {
  color: #ff6600;
}

.productdetailimg {
  max-width: 400px;
  height: 500px;
}

.productdetailimg img {
  width: 90%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productdes {
  max-width: 600px;
  /* margin-top: 50px; */
}

.productdes h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 45px;
}

.productdes p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 45px;
  
}

.productdes strong {
  font-weight: bold;
  color: #333;
}

.productdes .price {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
  margin-top: 10px;
}

.productdetail-container {
  padding: 20px;
}

.product-detail img {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* For smaller screens, make it a column layout */
@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    align-items: center;
  }

  .producticons {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .productdetailimg {
    width: 80%;
    margin: 0 auto 20px;
  }

  .productdes {
    width: 100%;
    text-align: center;
  }
}
